*{
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    font-family:'Poppins', sans-serif;
}

body {
    position: relative;
    background: linear-gradient(#bee8d6, #5f7d70);
    min-height: 100vh;
    border: 0;
    margin: 0;

}




/*HEADER*/
header {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    padding-left: 1vh;
    padding-right: 1vh;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #305b4871;
    overflow-y: hidden;
    opacity: 0.8;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .5);
}

.logo {
    font-size: 4em;
    color: #000000;
    pointer-events: none;
    margin-right: 95vh;
    display: flex;
    align-items: center;
}
.navigation{
    width: 600px;
    position: absolute;
    display: flex;
    justify-content: space-around;
    right: 3vh;
    height: 100px;
}
.navigation a{ 
    width: 150px;
    text-decoration: none;
    color: #000000;
    padding-top: 30px;
    font-weight: 800;
    font-size: 1.3em;
    display: flex;
    justify-content: center;
}


.navigation a:hover {
    background-repeat: no-repeat;
    background-size: 150px;
    animation: hover 1s;
    background-image: url("laptop-png-6752.png");
    color: #000000e8;
}

@keyframes hover {
    from {opacity: 0; }
    to {opacity: 1;}
}



.about {
    top: 100px;
    display: flex;
    justify-content: center;

}
#leaf {
    top: 100px;
    position: absolute;
    width: 100%;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 100% 60%, 50% 75%, 0% 60%, 0% 100%);
}
.quot {
    position: absolute;
    top: 150px;
    width: 30%;
    font-size: 1.5em;
    color: #bee8d6;
    background-color: #00000046;
    padding: 20px;
}
.anthem, .text {
    display: flex;
    justify-content: center;
}


.about2{
    top: 75vh;
    display: flex;
    justify-content: center;

}
.content {
    position: absolute;
    top: 75vh;
    width: 75%;
}
.head {
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    color: #3b3b3b;
}
.para {
    display: flex;
    justify-content: center;
    font-size: 1.2em;
    color: #3b3b3b;
}


.action{
    top: 100vh;
}

#envi {
    top: 100vh;
    position: absolute;
    padding-left: 95vh;
}
.contt{
    position: absolute;
    top: 100vh;
    width: 40%;
    height: 500px;
    padding-left: 70px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.class1{
    background: #e4f2d5e6;
    border-radius: 20px;
    padding: 20px;
}
.class2{
    background: #d9eef2eb;
    border-radius: 20px;
    padding: 20px;
}
.class3{
    background: #f7e6d9e8;
    border-radius: 20px;
    padding: 20px;
}

.footer {
    position: absolute;
    bottom: -80vh;
    padding: 50px;
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #5f7d70;
}
.footer p{
    color: #000000;    
    font-size: 1em;
}
.vl {
    border-left: 1px solid #000000;
    height: 40px;
}
